
<div id={{task.id}} class="dashboardItem">

  <div class="dashboardTitleWrapper">
    <label class="semiBold h1 selectable"> {{task.name}} </label>
  </div>

  <div class="dashboardTitleWrapper">
    <label class="regular selectable"> {{task.status}} </label>
  </div>
  <div class="dashboardTaskIntro" [style.background-image]="'url('+apiUrl+task.id+'/frames/0)'">
  </div>

  <div class="dashboardButtonsUI">


  <ng-select  class="regular dashboardButtonUI" style="text-align-last: center;" [items]="dumpers"
  bindLabel="display_name" placeholder="Dump Annotation" [(ngModel)]="selectedDump" (change)="dump(selectedDump)">
  </ng-select>

  <ng-select  class="regular dashboardButtonUI" style="text-align-last: center;" [items]="annotationFormats"
  bindLabel="dumpers" placeholder="Upload Annotation" [(ngModel)]="selectedUpload" (change)="upload(selectedUpload)">
  </ng-select>

    <button class="regular dashboardButtonUI"> Update Task </button>
    <button (click)="openDeleteModal(deleteModalTemplate)" class="regular dashboardButtonUI"> Delete Task </button>

    <ng-template #deleteModalTemplate>
        <label class="regular templateMessage selectable">The task will be removed. Are you sure?</label>

          <div style="text-align: center;">
          <button mat-button mat-dialog-close class="regular h2 templateDisagreeButton" style="margin-top: 20px; margin: 30px" > Cancel </button>
          <button (click)="delete(task.id)" mat-button mat-dialog-close class="regular h2 templateAgreeButton" style="margin-top: 20px; margin: 30px;"> Ok </button>
          </div>
    </ng-template>

  </div>
</div>
