
<div id={{task.id}} class="dashboardItem">

  <div class="dashboardTitleWrapper">
    <label class="semiBold h1 selectable"> {{task.name}} </label>
  </div>

  <div class="dashboardTitleWrapper">
    <label class="regular selectable"> {{task.status}} </label>
  </div>
  <div class="dashboardTaskIntro" [style.background-image]="'url('+apiUrl+task.id+'/frames/0)'">
  </div>

  <div class="dashboardButtonsUI">


  <ng-select  class="regular dashboardButtonUI" style="text-align-last: center;" [items]="dumpers"
  bindLabel="display_name" placeholder="Dump Annotation" [(ngModel)]="selectedDump" (change)="dumpAnnotation(selectedDump)">
  </ng-select>

  <ng-select  class="regular dashboardButtonUI" style="text-align-last: center;" [items]="loaders"
  bindLabel="display_name" placeholder="Upload Annotation" [(ngModel)]="selectedUpload" (change)="uploadAnnotation(selectedUpload)">
  </ng-select>

  <input hidden type="file" #uploader (change)="onFileChange($event.target.files)" name="uploader" accept="{{'.'+ selectedLoader?.format}}"/>

    <button class="regular dashboardButtonUI" (click)="[getTaskOldLabels(), openModal(updateModalTemplate)]"> Update Task </button>

    <button (click)="openModal(deleteModalTemplate)" class="regular dashboardButtonUI"> Delete Task </button>

    <ng-template #deleteModalTemplate>
        <label class="regular templateMessage selectable">The task will be removed. Are you sure?</label>

          <div style="text-align: center;">
          <button mat-button mat-dialog-close class="regular h2 templateDisagreeButton" style="margin-top: 20px; margin: 30px" > Cancel </button>
          <button (click)="deleteTask(task.id)" mat-button mat-dialog-close class="regular h2 templateAgreeButton" style="margin-top: 20px; margin: 30px;"> Ok </button>
          </div>
    </ng-template>

    <ng-template #updateModalTemplate>

      <div style="display: flex; flex-direction: column"> <!-- Consider using Angular flex layout-->
      <input id="dashboardOldLabels" type="text" readonly=true class="regular h2" placeholder="{{oldLabels}}">
      <input id="dashboardNewLabels" #newLabel type="text" placeholder="expand the specification here" class="regular h2" >
      </div>
          <div style="text-align: center;">
          <button mat-button mat-dialog-close class="regular h2 templateDisagreeButton" style="margin-top: 20px; margin: 30px" > Cancel </button>
          <button (click)="updateTask(newLabel.value)" mat-button mat-dialog-close class="regular h2 templateAgreeButton" style="margin-top: 20px; margin: 30px;"> Update </button>
          </div>

    </ng-template>

    <ng-template id="messageTemplate" #messageTemplate>
    <div class="modal">
        <div class="modal-content"  style="width: 400px; height: auto; max-height: 600px; overflow: auto;">
            <label class="regular templateMessage selectable" style="word-break: break-word;">{{message}} </label>
            <div style="text-align: center;">
                <button mat-button mat-dialog-close class="regular h2 templateOKButton" style="margin-top: 20px"> Ok </button>
            </div>
        </div>
    </div>
    </ng-template>

  </div>
</div>
