<title>{{title}}</title>

  <div id="content">
    <div style="width: 100%; display: flex;">
      <div style="width: 50%; display: flex;"> </div>
      <div style="width: 100%; display: flex;">
        <div id="dashboardManageButtons" style="display: flex;">
          <button (click)="dashboardCreateTaskButton()" class="regular h1" style="padding: 7px;"> Create New Task </button>
          <button (click)= "navigateToUserGuide()" class="regular h1" style="margin-left: 5px;"> User Guide </button>
        </div>

        <div style="width: 300px; display: flex; margin-left: 4px;">
          <input type="text" id="dashboardSearchInput" class="regular h3" placeholder="Search.." name="search">
          <button id="dashboardSearchSubmit" class="regular h3"> &#x1F50D; </button>
        </div>

      </div>
      <div style="width: 50%; display: flex;"> </div>
    </div>

    <div id="dashboardPagination">
      <div id="dashboardList" style="float: left; width: 100%">
        <ng-template #taskView></ng-template>
      </div>
    </div>
  </div>


<template id="dashboardUpdateTemplate">
  <div id="dashboardUpdateModal" class="modal">
    <div id="dashboardUpdateContent" class="modal-content">
      <input id="dashboardOldLabels" type="text" readonly=true class="regular h2">
      <input id="dashboardNewLabels" type="text" placeholder="expand the specification here" class="regular h2">
      <div style="text-align: center;">
        <button id="dashboardCancelUpdate" class="regular h2"> Cancel </button>
        <button id="dashboardSubmitUpdate" class="regular h2"> Update </button>
      </div>
    </div>
  </div>
</template>



<template id="confirmTemplate">
    <div class="modal">
        <div class="modal-content" style="width: 400px; height: auto; max-height: 600px; overflow: auto;">
            <label class="regular templateMessage selectable"> </label>
            <div style="text-align: center;">
                <button class="regular h2 templateDisagreeButton" style="margin-top: 20px"> Cancel </button>
                <button class="regular h2 templateAgreeButton" style="margin-top: 20px"> Ok </button>
            </div>
        </div>
    </div>
</template>

<ng-template id="messageTemplate" #messageTemplate>
<div class="modal">
    <div class="modal-content"  style="width: 400px; height: auto; max-height: 600px; overflow: auto;">
        <label class="regular templateMessage selectable" style="word-break: break-word;">{{message}} </label>
        <div style="text-align: center;">
            <button mat-button mat-dialog-close class="regular h2 templateOKButton" style="margin-top: 20px"> Ok </button>
        </div>
    </div>
</div>
</ng-template>

<template id="overlayTemplate">
    <div class="modal">
        <div class="modal-content"  style="width: 400px; height: auto; max-height: 600px; overflow: auto;">
            <label class="regular templateMessage selectable"> </label>
        </div>
    </div>
</template>
